a.list-group-item.list-video-item(href='/video/' + video.videoId )
  span.video-title= video.title
  ul.list-inline.list-video-item-info
    if video.deletedAt
      li Удалено с YouTube: 
        i.date-time-value(data-value=video.deletedAt)
    else
      li Обновлено: 
        i.date-time-value(data-value=video.statisticsUpdatedAt)
    li
      span.glyphicon.glyphicon-eye-open(aria-hidden="true")
      i= video.viewCount
    li
      span.glyphicon.glyphicon-thumbs-up(aria-hidden="true")
      i= video.likeCount
    li
      span.glyphicon.glyphicon-thumbs-down(aria-hidden="true")
      i= video.dislikeCount



      