extends layout

block content
  div.list-header
    h3 Статистика видео
    div Вся собранная информация по видео: история изменения количества лайков, дизлайков, просмотров

  div.media
    div.media-left
      a(href='https://www.youtube.com/watch?v=' + video.videoId )
        img.card-img-left(src='https://img.youtube.com/vi/' + video.videoId + '/2.jpg')
    div.media-body
      h4.media-heading
        a(href='https://www.youtube.com/watch?v=' + video.videoId )= video.title
      if (video.channel && video.channel.title)
        p Канал: 
          a(href='/channel/' + video.channel.id )= video.channel.title
      if video.deletedAt
        p 
          i Удалено: 
            span.date-time-value(data-value=video.deletedAt)
  p
    canvas#statisticsLikeChart(height=300)

  p
    canvas#statisticsViewChart(height=300)

block script
  script.
    videoId='#{video.videoId}'

  script(src='//cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.1/Chart.min.js')
  script(src='/javascripts/video.js')
