extends layout

block content
  div.list-header
    h3 Все видео
    p Все видео Youtube по которым собиралась статистика


  div.row
    div.col-lg-12
      form(action=currentFilter.url method="GET")
        div.input-group
          input.form-control(type="text" name="s" placeholder="поиск по ключевому слову" alt="Поиск производится только по первому введенному слову" value=searchString)
          span.input-group-btn
            input.btn.btn-default(type="submit" value="Искать")

  
  div.row
    div.col-lg-12
      center
        p
          div.btn-group
            each filter in filterList
              if (filter.url == currentFilter.url)
                a.btn.btn-default.active(type="button" href=filter.url + ((searchString)? "?s=" + searchString : ""))=filter.title
              else 
                a.btn.btn-default(type="button" href=filter.url + ((searchString)? "?s=" + searchString : ""))=filter.title



  div.list-group.list-video-group
    each video in videoList
        include includes/item.pug

  nav
    ul.pager
      if (pager.previousPage)
        li.previous
          a(href=currentFilter.url + "/" + pager.previousPage) Назад
      if (pager.nextPage)
        li.next
          a(href=currentFilter.url + "/" + pager.nextPage) Дальше
