extends layout

block content
  div.list-header
    h3 Все видео
    p Все видео YouTube по которым собиралась статистика


  form(action=currentFilter.url method="GET")
    div.row
      div.col-lg-12
        div.input-group
          input.form-control(type="text" name="s" placeholder="поиск по ключевым словам" autocomplete="off" value=searchString)
          span.input-group-btn
            input.btn.btn-default(type="submit" value="Искать")
    div.row
      div.col-lg-12
        div.date-range.form-control
          input.start(type="hidden" name="start" value=dateRange.startDate)
          input.end(type="hidden" name="end" value=dateRange.endDate)
          i.glyphicon.glyphicon-calendar
          span &nbsp;
  div.row
    div.col-lg-12
      center
        p
          div.btn-group
            each filter in filterList
              if (filter.url == currentFilter.url)
                a.btn.btn-default.active(type="button" href=filter.url + ((searchString)? "?s=" + searchString : ""))=filter.title
              else 
                a.btn.btn-default(type="button" href=filter.url + ((searchString)? "?s=" + searchString : ""))=filter.title



  div.list-group.list-video-group
    if videoList.length
      each video in videoList
          include includes/item.pug
    else
      center 
        p результатов не найдено

  nav
    ul.pager
      if (pager.previousPage)
        li.previous
          a(href=currentFilter.url + "/" + pager.previousPage) Назад
      if (pager.nextPage)
        li.next
          a(href=currentFilter.url + "/" + pager.nextPage) Дальше
